In [5]:
import os
import pandas as pd
import torch
from movieparser.scriptparser import ScriptParser
from movieparser.scriptloader import label2id
from IPython.display import display
from sklearn.metrics import precision_recall_fscore_support, confusion_matrix
from tqdm.notebook import tqdm
from movieparser.parse_scripts_noindent import parse_lines

In [2]:
parser = ScriptParser(38, len(label2id), False)
parser.load_state_dict(torch.load("results/saved_models/epoch1.pt"))
df = pd.read_csv("results/data.csv", index_col=None)
display(df.head())
parser.to(0);

,movie,line_no,text,label,error
0,44_inch_chest,1,out to wear ... whatever combination - it,D,NONE
1,44_inch_chest,2,works! - You look superb! ... And your,D,NONE
2,44_inch_chest,3,underw ear - immac ulate ! 100 % cot ton!,D,NONE
3,44_inch_chest,4,Dazzlin'!... Not like my pinky grey-y,D,NONE
4,44_inch_chest,5,"things! Nah, you've just got it - good at",D,NONE

In [6]:
files = os.listdir("data/SAIL_coref_screenplays/screenplays")
scripts = []

for file in files:
    script = []
    lines = open(os.path.join("data/SAIL_coref_screenplays/screenplays", file)).readlines()
    
    i = 0
    while i < len(lines):
        line = lines[i].strip()
        if len(line) == 0:
            j = i + 1
            while j < len(lines) and len(lines[j].strip()) == 0:
                j += 1
            if j < len(lines):
                script.append("")
                script.append(lines[j].strip())
            i = j + 1
        else:
            script.append(line)
            i += 1

    scripts.append(script)

for file, script in tqdm(zip(files, scripts), total=len(files)):
    movie = file.split("/")[-1].split(".")[0]
    parsed_file = os.path.join("data/SAIL_coref_screenplays/robust_parsed", movie + ".csv")
    # tags = parser.parse(script)
    tags = parse_lines(script)
    df = pd.DataFrame()
    df["text"] = script
    df["tags"] = tags
    df.to_csv(parsed_file, index=False)

  0%|          | 0/8 [00:00<?, ?it/s]

In [7]:
df = pd.read_csv("results/data.csv", index_col=None)
display(df.head())
groups = df.groupby(["movie","error"])
print(f"{groups.ngroups} (movie, error) groups")

,movie,line_no,text,label,error
0,44_inch_chest,1,out to wear ... whatever combination - it,D,Original
1,44_inch_chest,2,works! - You look superb! ... And your,D,Original
2,44_inch_chest,3,underw ear - immac ulate ! 100 % cot ton!,D,Original
3,44_inch_chest,4,Dazzlin'!... Not like my pinky grey-y,D,Original
4,44_inch_chest,5,"things! Nah, you've just got it - good at",D,Original

702 (movie, error) groups

In [8]:
len(df)

224260

In [11]:
df.groupby(["movie", "error"]).agg(len).text.values

array([251, 301, 251, 310, 251, 251, 251, 251, 301, 300, 364, 300, 378,
       300, 300, 300, 300, 364, 251, 297, 251, 312, 251, 251, 251, 251,
       297, 344, 422, 344, 435, 344, 344, 344, 344, 422, 250, 296, 250,
       310, 250, 250, 250, 250, 296, 334, 394, 334, 406, 334, 334, 334,
       334, 394, 251, 306, 251, 312, 251, 251, 251, 251, 306, 276, 339,
       276, 349, 276, 276, 276, 276, 339, 251, 302, 251, 307, 251, 251,
       251, 251, 302, 372, 443, 372, 453, 372, 372, 372, 372, 443, 251,
       298, 251, 310, 251, 251, 251, 251, 298, 338, 410, 338, 416, 338,
       338, 338, 338, 410, 250, 290, 250, 299, 250, 250, 250, 250, 290,
       381, 452, 381, 460, 381, 381, 381, 381, 452, 250, 296, 250, 302,
       250, 250, 250, 250, 296, 394, 482, 394, 492, 394, 394, 394, 394,
       482, 250, 302, 250, 322, 250, 250, 250, 250, 302, 338, 398, 338,
       409, 338, 338, 338, 338, 398, 251, 298, 251, 303, 251, 251, 251,
       251, 298, 367, 434, 367, 444, 367, 367, 367, 367, 434, 251, 308,
       251, 320, 251, 251, 251, 251, 308, 287, 344, 287, 351, 287, 287,
       287, 287, 344, 251, 302, 251, 312, 251, 251, 251, 251, 302, 360,
       438, 360, 446, 360, 360, 360, 360, 438, 251, 295, 251, 308, 251,
       251, 251, 251, 295, 342, 411, 342, 428, 342, 342, 342, 342, 411,
       250, 312, 250, 326, 250, 250, 250, 250, 312, 349, 433, 349, 441,
       349, 349, 349, 349, 433, 251, 310, 251, 316, 251, 251, 251, 251,
       310, 350, 421, 350, 428, 350, 350, 350, 350, 421, 250, 291, 250,
       298, 250, 250, 250, 250, 291, 365, 438, 365, 445, 365, 365, 365,
       365, 438, 250, 309, 250, 316, 250, 250, 250, 250, 309, 327, 404,
       327, 419, 327, 327, 327, 327, 404, 251, 311, 251, 317, 251, 251,
       251, 251, 311, 409, 502, 409, 509, 409, 409, 409, 409, 502, 251,
       297, 251, 304, 251, 251, 251, 251, 297, 366, 427, 366, 435, 366,
       366, 366, 366, 427, 250, 299, 250, 309, 250, 250, 250, 250, 299,
       374, 458, 374, 469, 374, 374, 374, 374, 458, 251, 293, 251, 303,
       251, 251, 251, 251, 293, 356, 433, 356, 446, 356, 356, 356, 356,
       433, 250, 301, 250, 311, 250, 250, 250, 250, 301, 357, 427, 357,
       435, 357, 357, 357, 357, 427, 251, 308, 251, 323, 251, 251, 251,
       251, 308, 325, 403, 325, 409, 325, 325, 325, 325, 403, 251, 308,
       251, 320, 251, 251, 251, 251, 308, 375, 434, 375, 444, 375, 375,
       375, 375, 434, 251, 301, 251, 311, 251, 251, 251, 251, 301, 338,
       413, 338, 420, 338, 338, 338, 338, 413, 251, 293, 251, 301, 251,
       251, 251, 251, 293, 336, 402, 336, 411, 336, 336, 336, 336, 402,
       251, 306, 251, 315, 251, 251, 251, 251, 306, 335, 411, 335, 420,
       335, 335, 335, 335, 411, 251, 311, 251, 321, 251, 251, 251, 251,
       311, 347, 415, 347, 425, 347, 347, 347, 347, 415, 251, 313, 251,
       318, 251, 251, 251, 251, 313, 326, 391, 326, 398, 326, 326, 326,
       326, 391, 251, 300, 251, 307, 251, 251, 251, 251, 300, 333, 398,
       333, 405, 333, 333, 333, 333, 398, 250, 304, 250, 313, 250, 250,
       250, 250, 304, 321, 384, 321, 392, 321, 321, 321, 321, 384, 251,
       300, 251, 316, 251, 251, 251, 251, 300, 330, 399, 330, 405, 330,
       330, 330, 330, 399, 250, 301, 250, 305, 250, 250, 250, 250, 301,
       375, 458, 375, 460, 375, 375, 375, 375, 458, 250, 297, 250, 311,
       250, 250, 250, 250, 297, 358, 437, 358, 456, 358, 358, 358, 358,
       437, 251, 296, 251, 309, 251, 251, 251, 251, 296, 346, 410, 346,
       417, 346, 346, 346, 346, 410, 233, 275, 233, 288, 233, 233, 233,
       233, 275, 325, 397, 325, 410, 325, 325, 325, 325, 397, 251, 308,
       251, 313, 251, 251, 251, 251, 308, 343, 405, 343, 411, 343, 343,
       343, 343, 405, 251, 310, 251, 325, 251, 251, 251, 251, 310, 323,
       390, 323, 407, 323, 323, 323, 323, 390, 250, 295, 250, 302, 250,
       250, 250, 250, 295, 368, 445, 368, 451, 368, 368, 368, 368, 445])

In [14]:
df["error"].unique()

array(['Original', 'Original+NameContainsSceneKeyword',
       'Original+NameContainsTransitionKeyword',
       'Original+SceneHeaderKeywordRemoved',
       'Original+SceneHeaderLowercased',
       'Original+CharacterNameLowercased', 'Original+Watermark',
       'Original+AsterisksNumbers', 'Original+DialogueExpressions',
       'NoEmptyLines', 'NoEmptyLines+NameContainsSceneKeyword',
       'NoEmptyLines+NameContainsTransitionKeyword',
       'NoEmptyLines+SceneHeaderKeywordRemoved',
       'NoEmptyLines+SceneHeaderLowercased',
       'NoEmptyLines+CharacterNameLowercased', 'NoEmptyLines+Watermark',
       'NoEmptyLines+AsterisksNumbers',
       'NoEmptyLines+DialogueExpressions'], dtype=object)

In [18]:
for text in df["text"].fillna("").unique():
    if not isinstance(text, str):
        print(text)

In [22]:
feats_df = pd.read_csv("results/feats.csv", index_col=None).fillna("")

In [23]:
(feats_df.text == "").sum()

1

In [26]:
print((df["label"] == "O").sum())
print(((df["label"] == "O") & df["text"].isna()).sum())

39258
29912